[Unit]
Description=Emacs: the extensible, self-documenting text editor

[Service]
Type=forking
# ExecStart=/usr/bin/emacs --user %u
# ExecStart=/usr/bin/emacs --daemon --user %u
ExecStart=/usr/bin/emacs --daemon --user %i
ExecStop=/usr/bin/emacsclient --eval "(progn (setq kill-emacs-hook 'nil) (kill-emacs))"
Restart=always
User=%i
# WorkingDirectory=%h

[Install]
WantedBy=multi-user.target

# %i works for instance, at least it resolves to my username
# %u did not, it resolved to root, probably because it was root systemd process
# not a user systemd process, or say, invoked like `systemd --user'.
